*.DS_STORE
mission-patient-list/approuter/node_modules/**
**/node_modules/**
*.package-lock.json
mission-patient-list/approuter/package-lock.json
mission-patient-list/apps/patientlist/dist/**
mission-patient-list/apps/patientlist/package-lock.json
*.zip

mission-patient-list/local-setup/*


*.mtar
mission-patient-list/apps/patientlist/package-lock.json
